*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #a7c957;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    background-color: white;
    padding:1rem;
    border-radius: 1rem;
    min-height: 45vh;
    width:40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form input, select, button{
    width: 100%;
    border:none;
    outline:none;
    border-radius: 0.75rem;
}

form input{
    font-size: 1rem;
    border: 1px solid lightgrey;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    padding-left: 0.25rem;
    width:5rem;
}

.select-container img{
    max-width: 2rem;
}

.dropdown i{
    margin-top: 1rem;
    font-size: 1.5rem;
}

.msg{
    margin: 2rem 0 2rem 0;
}

form button{
    height: 3rem;
    background-color: #c77dff;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

